@font-face {
    font-family: "Vegan";
    src: url("resources/fonts/vegan-style-font/VeganStylePersonalUse-5Y58.ttf") format("truetype");
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #141418
}

section {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

div#title {
    color: #4d9423;
    font-size: 4rem;
    font-family: "Vegan";
}