.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #212c0b;
    color: #ddc76f;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #030303;
}