:root {
  --g-background: #ffffff;
  --g-foreground: #171717;

  --g-primary: #3a3d13;

  --g-text-primary: #fffce8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --g-background: #1a160d;
    --g-foreground: #ededed;

    --g-primary: #3a3d13;

    --g-text-primary: #fffce8;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: var(--g-background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  display: flex;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--g-background);
  align-items: center;
  justify-content: start;
}

.header-button {
  background-color: var(--g-primary);

  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;

  color: var(--g-text-primary);
  font-size: 20px;
}

.popover-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover-content {
  background-color: var(--g-foreground);
  color: var(--g-text-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
