.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page table {
    --border-color: #fff;
    --header-background-color: #212c0b;
    --header-text-color: #ddc76f;
    --even-column-background-color: #030303;
    --text-color: #000;

    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

.page table th, .page table td {
    border: 1px solid var(--border-color);
    text-align: left;
}

.page table th {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    font-weight: bold;
}

.page td {
    padding: 10px 0px;
    color: var(--text-color);
}

.page td:first-child {
    padding-left: 10px;
}

.page td:last-child {
    padding-right: 10px;
}

.row_holder {
    background-color: #ddd;
    padding: 10px;
}

.page tr td:first-child .row_holder {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page tr td:last-child .row_holder {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page table tr:nth-child(even) {
    background-color: var(--even-column-background-color);
}